name: CI

on:
  push:
    branches:
    - '*'
  pull_request:
    branches: 
    - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

#    - name: Setup NuGet.exe for use with actions
#      # You may pin to the exact commit or the version.
#      # uses: NuGet/setup-nuget@04b0c2b8d1b97922f67eca497d7cf0bf17b8ffe1
#      uses: NuGet/setup-nuget@v1.0.5
#      with:
#        # NuGet version to install. Can be `latest`, `preview`, a concrete version like `5.3.1`, or a semver range specifier like `5.x`.
#        nuget-version: # optional, default is latest
#        # NuGet API Key to configure.
#        nuget-api-key: # optional
#        # Source to scope the NuGet API Key to.
#        nuget-api-key-source: # optional
